body{
 background-color: #eeeeee;
 font-family: 'IBM Plex Sans KR', sans-serif;
}

button{
    font-family: 'IBM Plex Sans KR', sans-serif;
}

textarea{
    font-family: 'IBM Plex Sans KR', sans-serif;  
}