body{
 background-color: #eeeeee;
 font-family: 'IBM Plex Sans KR', sans-serif;
 -webkit-user-drag: none;
}

button{
    font-family: 'IBM Plex Sans KR', sans-serif;
    cursor: pointer;
}

textarea{
    font-family: 'IBM Plex Sans KR', sans-serif;  
}